* {
    -fx-main: #FFE6F4;
    -fx-header: #FFBDE1;
    -fx-button: #7C7492;
    -fx-button-darker: #615b73;
    -fx-grid-line: #b52672;
    -fx-disabled-grey: #b5b5b5;
    -fx-secondary-brighter: #faf0f6;
    -fx-negative: #d90019;
}

@font-face {
    font-family: 'Ink Free';
    src: url('fonts/Inkfree.ttf');
}

.main {
    -fx-background-color: -fx-main;
}

.navigation {
    -fx-background-color: -fx-header;
}

.navigation__home-label {
    -fx-font-family: "Ink Free";
    -fx-font-size: 24px;
}

.button {
    -fx-background-color: -fx-button;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-font-size: 15px;
    -fx-padding: 0.3em 1.1em 0.3em 1.1em;
}

.button:hover, .button:focused {
    -fx-background-color: -fx-button-darker;
}

.sudoku__name {
    -fx-text-alignment: center;
}

.sudoku__author {
    -fx-text-alignment: center;
}

.sudoku__grid {
    -fx-border-width: 2px;
    -fx-border-color: -fx-grid-line;
    -fx-padding: 2px 0px 3px 0px;
}

.sudoku__grid-line {
    -fx-stroke: -fx-grid-line;
    -fx-stroke-width: 2px;
}

.sudoku__cell {
    -fx-font-size: 22px;
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-border-style: dashed;
    -fx-border-width: 1px 1px;
    -fx-border-color: black;
}

.sudoku__cell--disabled {
    -fx-background-color: -fx-secondary-brighter;
    -fx-text-fill: -fx-disabled-grey;
}

.sudoku__cell--invalid {
    -fx-text-fill: -fx-negative;
}